*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.row{
  height: 1000px;
  background-color: blue;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.card-container{  
  height: 100%;
  width: 30%;
  background-color: green;
  display: inline-block;
}

.card{
  position: relative;
  height: 90%;
  background-color: aqua;
}

.heart{
  position: absolute;
  right: 0;
  top: 5%;
  background-color: red;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.heart:hover{
  color:red
}

.labels{
  position: absolute;
  left: 0;
  bottom: 20px;
}

.discount{
  display: inline-block;
  background-color: red;
  padding: 5px;
  margin-right: 5px;
}


.type{
  display: inline-block;
  background-color: green;
  margin-right: 5px;
  padding: 5px;
} 

.description{
  position: relative;
  height: 10%;
  background-color: blueviolet;
}

.info{
  position: absolute;
  text-align: left;
}

.info>*{
 margin: 5px 0;
}

.info h5{
  color: rgb(115, 130, 143);
  font-weight: lighter;
}

.price{
  color: red;
}

.old-price{
  text-decoration: line-through;
  padding-left: 3px;
}

.product-1{
  background-image: url(../img/1.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}

.product-1-hover-effect:hover{
  background-image: url(../img/1b.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}

.product-2{
  background-image: url(../img/2.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}

.product-2-hover-effect:hover{
  background-image: url(../img/2b.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}

.product-3{
  background-image: url(../img/3.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}

.product-3-hover-effect:hover{
  background-image: url(../img/3b.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}
