*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.container{
  width: 80%;
  /* background-color: blue; */
  text-align: center;
  margin: auto;
}

.card-container{
  width: 33%;
  display: inline-block;
  
}

.card{
  position: relative;
  margin-top: 30px;
  padding: 5px;
}

.card img{
  width: 100%;
}

.card .item-img{
  display:block;
}

.card .item-img-b{
  display: none;
}

.card:hover .item-img{
  display:none
}

.card:hover .item-img-b{
  display: block;
}

.heart{
  position: absolute;
  right: 5px;
  top: 5%;
  background-color: white;
  padding: 10px 15px;
  font-size: 30px;
  cursor: pointer;
}

.heart:hover{
  color:red
}

.labels{
  position: absolute;
  left: 5px;
  bottom: 20px;
  color: white;
}

.discount{
  display: inline-block;
  background-color: red;
  padding: 5px;
  margin-right: 5px;
}


.type{
  display: inline-block;
  background-color: green;
  margin-right: 5px;
  padding: 5px;
} 

.description{
  text-align: left;
}

.info>*{
  margin: 5px 0;
 }
 
 .info h5{
   color: rgb(115, 130, 143);
   font-weight: lighter;
 }
 
 .price{
   color: red;
 }
 
 .old-price{
   text-decoration: line-through;
   padding-left: 3px;
 }
